@use '@angular/material' as mat;

@include mat.core();

// Paletten
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

// Light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Default (light)
:root {
  @include mat.all-component-themes($light-theme);
}

// Dark via class
html.theme-dark {
  @include mat.all-component-colors($dark-theme);
}

body {
  margin: 0;
}
